{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="max-w-md mx-auto mt-10 bg-white shadow-md rounded p-6 mb-10">
  <h2 class="text-2xl font-bold mb-4">Login</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4">
        <label class="block mb-1 text-sm font-medium text-gray-700">{{ field.label_tag }}</label>
        {{ field|add_class:"w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-200" }}
        {% if field.errors %}
          <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
        {% endif %}
      </div>
    {% endfor %}

     <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">
      Login
     </button>
  </form>


</div>
{% endblock %}